doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ZOOM_COPY
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 CYJ's TEST SERVER
        main 
            h2 SYSTEM_OPERATRING
            form#id
                input(type="text", placeholder="UserID", requried)
                button Save
            ul
            form#message
                input(type="text", placeholder="write a massege", requried)
                button Send
        script(src="/public/js/app.js")
